<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Radar options</h5>

		<div class="gf-form">
			<label class="gf-form-label width-12">Background</label>
			<span class="max-width-10">
				<spectrum-picker class="gf-form-input" ng-model="ctrl.panel.bgColor" ng-change="ctrl.render()">
				</spectrum-picker>
			</span>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-12">Font Color</label>
			<span class="max-width-10">
				<spectrum-picker class="gf-form-input" ng-model="ctrl.panel.radarSettings.fontColor"
					ng-change="ctrl.render()"></spectrum-picker>
			</span>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-12">Grid Color</label>
			<span class="max-width-10">
				<spectrum-picker class="gf-form-input" ng-model="ctrl.panel.radarSettings.gridColor"
					ng-change="ctrl.render()"></spectrum-picker>
			</span>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-12">Font Size</label>
			<input type="text" class="input-small gf-form-input max-width-10"
				ng-model="ctrl.panel.radarSettings.fontSize" ng-change="ctrl.render()" ng-model-onblur>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-12">Animation (ms)</label>
			<input type="text" class="input-small gf-form-input max-width-10"
				ng-model="ctrl.panel.radarSettings.animationDurationMs" ng-change="ctrl.render()" ng-model-onblur>
		</div>
		<div class="gf-form">
			
			<gf-form-switch class="gf-form" label="Draw ticks background" label-class="width-12"
			checked="ctrl.panel.radarSettings.drawTicksBackground" on-change="ctrl.render()"></gf-form-switch>
		</div>
		

	</div>

	<div class="section gf-form-group">
		<h5 class="section-heading">Legend</h5>
		<div class="gf-form">
			<span class="gf-form-label width-10">Position</span>
			<div class="gf-form-select-wrapper width-8">
				<select class="gf-form-input" ng-model="ctrl.panel.radarSettings.legendType"
					ng-options="t for t in ['left', 'right', 'top', 'bottom']" ng-change="ctrl.render()"></select>
			</div>
		</div>
		<h5 class="section-heading">Miscellaneous</h5>
		<gf-form-switch class="gf-form" label="Ignore Time (InfluxDB)" label-class="width-12"
			checked="ctrl.panel.radarSettings.ignoreTimeInfluxDB" on-change="ctrl.render()"></gf-form-switch>

		<h5 class="section-heading">Scale</h5>

		<gf-form-switch class="gf-form" label="Autoscale" label-class="width-12"
			checked="ctrl.panel.radarSettings.autoScale" on-change="ctrl.render()"></gf-form-switch>

		<div ng-show="!ctrl.panel.radarSettings.autoScale">
			<div class="gf-form">
				<label class="gf-form-label width-12">Min</label>
				<input type="text" class="input-small gf-form-input max-width-10"
					ng-model="ctrl.panel.radarSettings.scaleMin" ng-change="ctrl.render()" ng-model-onblur>
			</div>
			<div class="gf-form">
				<label class="gf-form-label width-12">Max</label>
				<input type="text" class="input-small gf-form-input max-width-10"
					ng-model="ctrl.panel.radarSettings.scaleMax" ng-change="ctrl.render()" ng-model-onblur>
			</div>
			<div class="gf-form">
				<label class="gf-form-label width-12">Step</label>
				<input type="text" class="input-small gf-form-input max-width-10"
					ng-model="ctrl.panel.radarSettings.scaleStep" ng-change="ctrl.render()" ng-model-onblur>
			</div>
		</div>
	</div>


	<div class="section gf-form-group">
		<h5 class="section-heading">Design</h5>
		<gf-form-switch class="gf-form" label="Limit Aspect Ratio" label-class="width-12"
			checked="ctrl.panel.radarSettings.limitAspectRatio" on-change="ctrl.render()"></gf-form-switch>
		<div class="gf-form" ng-show="ctrl.panel.radarSettings.limitAspectRatio">
			<span class="gf-form-label width-10">Aspect Ratio</span>
			<info-popover mode="right-absolute">Aspect ratio between width and height (Width/Height).</info-popover>

			<div class="gf-form-select-wrapper width-8">
				<select class="gf-form-input" ng-model="ctrl.panel.radarSettings.aspectRatio"
					ng-options="t for t in [1.0, 1.2, 1.4, 1.6, 1.8, 2.0, 2.2,2.4,2.6,2.8,3.0]"
					ng-change="ctrl.render()"></select>
			</div>
		</div>

		<div class="gf-form">
			<label class="gf-form-label width-12">Series Alias</label>
			<info-popover mode="right-absolute">Sets the series title. Example: A=Paris;B=Brussels;C=New York;
			</info-popover>
			<input type="text" class="input-small gf-form-input max-width-30"
				ng-model="ctrl.panel.radarSettings.seriesAlias" ng-change="ctrl.render()" ng-model-onblur>
		</div>

	</div>

</div>